@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");     
}


*{
    margin: 0%;

}

body{
    background-color: white;
    font-family: Roboto;

}

.by{
   
    display: flex;
    justify-content: center;
    
}

.by a{
    text-decoration: none;
    margin-left: 0.2em;
    color:#0077ED ;

}

.by a:hover{
    text-decoration: underline;
}

header{
    background-color: #F5F5F7;
    margin-top: 0px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    gap: 3em;
    margin: 0%;
    font-size: 0.7em;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap ;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

nav ul li a:hover{
    color: rgb(0, 0, 0);

}

nav img{
    height: 20px;
    width: auto;
}

#ribbon{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: lighter;
    margin-top: 1em;
}

#ribbon a{
    text-decoration: none;
    color:#0071E3;
}

#ribbon a:hover{
    text-decoration: underline;
}

#iapple{
    display: flex;
    background-image: url(16prappleweb.jpg);
    background-position: center;
    height: 35em;
    width: auto;
    background-size: 150em;
    margin-top: 1.5em;
    color: white;
    justify-content: center;
    font-family: Roboto;
    flex-wrap: wrap;
    cursor: pointer;
   
    
}

#iapple #heading h1 {
    display: flex;
    font-size: 3em;
    margin-top: 0.7em;
    justify-content: center;
}

#iapple #heading h3{
    display: flex;
    font-weight:lighter;
    margin-top: 0em;
    justify-content: center;
    font-size: 1.5em;

}

#buttons{
    display: flex;
    justify-content: center;
    flex-direction:row;
    text-align: center;
    align-items: center;
    gap: 0.5em;
}

#buttons a{
    display:flex ;
    list-style-type: none;
    text-decoration: none;
    width:7em ;
    font-size: 1em;
    padding: 1em;
    border-radius: 2em;
    gap: 2em;
    color: white;
    margin-top: 1em;
}

#buttons #more{
    display: flex;
    background-color:#0077ED;
    color: white;
    justify-content: center;
    
    
}

#buttons #buy{
  display: flex;
  justify-content: center;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
 
#buttons #more:hover{
    background-color:#0080ff;

}

#buttons #buy:hover{
    background-color:0080ff;
    transition: 0.3s;
}

/*----------------------------------------------*/

#iphone{
    display: flex;
    background-image: url(16appleweb.jpg);
    background-position: center;
    height: 35em;
    width: auto;
    background-size: 152em;
    margin-top: 1.5em;
    color: white;
    justify-content: center;
    font-family: Roboto;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 3em;
   
    
}

#iphone #heading h1 {
    display: flex;
    font-size: 3em;
    margin-top: 0.7em;
    justify-content: center;
}

#iphone #heading h3{
    display: flex;
    font-weight:lighter;
    margin-top: 0em;
    justify-content: center;
    font-size: 1.5em;

}

#iphone #buttons{
    display: flex;
    justify-content: center;
    flex-direction:row;
    text-align: center;
    align-items: center;
    gap: 0.5em;
}

#buttons a{
    display:flex ;
    list-style-type: none;
    text-decoration: none;
    width:7em ;
    font-size: 1em;
    padding: 1em;
    border: 1px solid #0077ED;
    border-radius: 2em;
    gap: 2em;
    color: white;
    margin-top: 1em;
}

#buttons #more{
    display: flex;
    background-color: #0077ED;
    color: white;
    justify-content: center;
    
    
}

#buttons #buy{
  display: flex;
  justify-content: center;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
 
#buttons #more:hover{
    background-color:#0080ff;

}

#buttons #buy:hover{
    background-color: #0077ED;
    transition: 0.3s;
}
/*-------------------------------------------------------------------------------------------------*/

#gift{
    display: flex;
    background-image: url(applegift.jpg);
    background-position: center;
    height: 35em;
    width: auto;
    background-size: 152em;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: baseline;
    font-family: Roboto;
    flex-wrap: wrap;
    cursor: pointer;
   
    
}

#gift #heading h1 {
    display: flex;
    font-size: 3em;
    margin-top: 7.5em;
    justify-content: center;
    align-items: baseline;
}

#gift #heading h3{
    display: flex;
    font-weight:lighter;
    margin-top: 0em;
    justify-content: center;
    font-size: 1.5em;

}

#gift #buttons{
    display: flex;
    justify-content: center;
    flex-direction:row;
    text-align: center;
    align-items: center;
    gap: 0.5em;
}

#buttons a{
    display:flex ;
    list-style-type: none;
    text-decoration: none;
    width:7em ;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #0077ED;
    border-radius: 2em;
    gap: 2em;
    color: white;
    margin-top: 1em;
}

#buttons #more{
    display: flex;
    background-color: #0077ED;
    color: white;
    justify-content: center;
    
    
}

#buttons #buy{
  display: flex;
  justify-content: center;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
 
#buttons #more:hover{
    background-color:#0080ff;

}

#buttons #buy:hover{
    background-color: #0077ED;
    transition: 0.3s;
}
/*-------------------------------------------------------------------------------------------------*/
#air ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    height: 30em;
    width: 50em;
    top:0px;
    
}

#air img{
    width: 5em;
}


#ipad{
    background: url(ipadairweb.jpg);
    background-size: 30em;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: ;
    height: 10em;
    width: auto;
}

#airpods{
    background: url(airpodsweb.jpg);
    background-size: 30em;
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
}
/*--------------------------------------------------------------------------------------------------*/
footer{
    background-color: rgba(0, 0, 0, 0.116);
    padding: 0.5em;
    display: flex;
    font-family: sans-serif;
    opacity: 50%;
    font-weight: lighter;
    font-size: 0.7em;
    justify:left;
    text-align: left;
    justify-content: space-around;
    word-spacing: 0.1em;
    line-height: 1.3em;
    margin-top: 10em;
}

#para p{ 
    display: flex;
    justify-content: space-between;
    margin-left: 30em;
    margin-right: 30em;
    margin-top: 1em;

}

#para a{
    color: rgb(0, 0, 0);
}


#table{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#table ul{
    list-style-type: none;
}

#table ul li:hover{
    text-decoration: underline;
}

#table #para{
    word-spacing:0px ;
}
